- breadcrumb_title _("Graph")
- page_title _("Graph"), @ref
= render "head"
%div{ class: container_class }
  .project-network.gl-border-1.gl-border-solid.gl-border-gray-300
    .controls.gl-bg-gray-50.gl-p-2.gl-font-base.gl-text-gray-400.gl-border-b-1.gl-border-b-solid.gl-border-b-gray-300
      = form_tag project_network_path(@project, @id), method: :get, class: 'form-inline network-form' do |f|
        = text_field_tag :extended_sha1, @options[:extended_sha1], placeholder: _("Git revision"), class: 'search-input form-control gl-form-input input-mx-250 search-sha gl-mr-2'
        = button_tag class: 'btn gl-button btn-success btn-icon' do
          = sprite_icon('search')
        .inline.gl-ml-5
          .form-check.light
            = check_box_tag :filter_ref, 1, @options[:filter_ref], class: 'form-check-input'
            = label_tag :filter_ref, class: 'form-check-label' do
              %span= _("Begin with the selected commit")

    - if @commit
      .network-graph.gl-bg-white.gl-overflow-scroll.gl-overflow-x-hidden{ data: { url: @url, commit_url: @commit_url, ref: @ref, commit_id: @commit.id } }
        .text-center.gl-mt-3
          .spinner.spinner-md
